@import "footer/_footer-top";
@import "footer/_footer-bottom";

.footer {
    padding-top: 60px;
}

.footer-wrap {
    background-color: $color-white;
}

@media screen and (max-width: $lg) {
    .footer {
        padding-bottom: 82px;
    }
}
